!!!
%html
  %head
    %title Tond
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield :header
  %body
    - #For devise notify messages
    %p.notice= notice
    %p.alert= alert

    = yield
